@page "/CEstudiante"
<h3>Consulta de estudiantes</h3>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>EstudianteId</th>
            <th>Matricula</th>
            <th>Nombres</th>
            <th>Balance</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var est in Lista)
        {
        <tr>
            <td>@est.EstudianteId</td>
            <td>@est.Matricula</td>
            <td>@est.Nombres</td>
            <td>@est.Balance</td>
            
            <td>
                <a class="btn btn-outline-primary" href="REstudiante/@est.EstudianteId">Ver</a>
            </td>
            
        </tr>

        }
    </tbody>


</table>

@code {

    public List<Estudiantes> Lista { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Lista = new List<Estudiantes>();

        await Task.Run(() => { Cargar(); });


    }
    

    private void Cargar()
    {
        EstudianteController db = new EstudianteController();

        Lista = db.GetList(a => true);
    }
}


