@page "/ConsultasS"
<h3>Consultas</h3>

<div class="form-row">
    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Inscripciones</h5>
            <p class="card-text">Aquí encontraras la consulta de las inscripciones.</p>
            <a href="CInscripcion" class="btn btn-primary">Consultar inscripciones</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Asignaturas</h5>
            <p class="card-text">Aquí encontraras la consulta de las asignaturas.</p>
            <a href="CAsignatura" class="btn btn-primary">Consultar asignaturas</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Estudiantes</h5>
            <p class="card-text">Aquí encontraras la consulta de los estudiantes.</p>
            <a href="CEstudiante" class="btn btn-primary">Consultar estudiantes</a>
        </div>
    </div>
</div>
<div class="form-row">
    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Pagos</h5>
            <p class="card-text">Aquí encontraras la consulta de los pagos.</p>
            <a href="CPago" class="btn btn-primary">Consultar pagos</a>
        </div>
    </div>
</div>


@code {

}
