@page "/RAsignatura/{AsginaturaId:int}"
<h3>Registro asignatura</h3>

<EditForm Model="asignaturas" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label for="AsignaturaId">AsignaturaId</label>
        <InputNumber @bind-Value="asignaturas.AsignaturaId" class="form-control" />
        <button type="button" @onclick="Buscar" class="btn btn-primary">Buscar</button>
    </div>
    <div class="form-group">
        <label for="Codigo">Codigo</label>
        <InputText @bind-Value="asignaturas.Codigo" class="form-control" />
    </div>
    <div class="form-group">
        <label for="Descripcion">Descripcion</label>
        <InputText @bind-Value="asignaturas.Descripcion" class="form-control" />
    </div>
    <div class="form-group">
        <label for="PreRequisito">Pre requisito</label>
        <InputText @bind-Value="asignaturas.PreRequisito" class="form-control" />
    </div>
    <div class="form-group">
        <label for="Creditos">Creditos</label>
        <InputNumber @bind-Value="asignaturas.Creditos" class="form-control" />
    </div>
    <h6>@Mensaje</h6>
    <ValidationSummary />
    <div class="form-group col-md-6">
        <button type="button" @onclick="Limpiar" class="btn btn-primary">Nuevo</button>
        <button type="submit" class="btn btn-success">Guardar</button>
        <button type="button" @onclick="Eliminar" class="btn btn-danger">Eliminar</button>

    </div>

</EditForm>

@code {

    [Parameter]
    public int AsignaturaId { get; set; }

    Asignaturas asignaturas = new Asignaturas();

    public string Mensaje;

    protected override void OnInitialized()
    {
        if (AsignaturaId > 0)
        {
            asignaturas.AsignaturaId = AsignaturaId;
            Buscar();
        }
    }
    private void Limpiar()
    {
        asignaturas = new Asignaturas();
    }

    private void Guardar()
    {
        AsignaturaController db =new AsignaturaController();

        if (db.Guardar(asignaturas))
        {
            asignaturas = new Asignaturas();
            Mensaje = "Guardado guardar";
        }

        else
        {
            Mensaje = "No se pudo guardar";
        }


    }

    private void Buscar()
    {
        AsignaturaController db = new AsignaturaController();
        Asignaturas asignaturastemp;

        if (asignaturas.AsignaturaId > 0)
        {
            asignaturastemp = db.Buscar(asignaturas.AsignaturaId);

            if (asignaturastemp != null)
                asignaturas = asignaturastemp;
            else
                Mensaje = "asignatura no encontrada";
        }

    }
    private void Eliminar()
    {
        AsignaturaController db = new AsignaturaController();

        if(asignaturas.AsignaturaId != 0)
        {
            if (db.Buscar(asignaturas.AsignaturaId) != null)
            {
                db.Eliminar(asignaturas.AsignaturaId);
                Mensaje = "Eliminado con exito";
                asignaturas = new Asignaturas();

            }
            else
            {
                Mensaje = "No se puede eliminar una asignatura que no existe";
            }

        }
        else
        {
            Mensaje = "Seleccione un id";
        }
    }
}
