@page "/Registros"
<h3>Registros</h3>

<div class="form-row">
    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Inscripciones</h5>
            <p class="card-text">Aquí encontraras el registro de las inscripciones.</p>
            <a href="RInscripcion" class="btn btn-primary">Registrar Inscripciones</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Asignaturas</h5>
            <p class="card-text">Aquí encontraras el registro de las asignaturas.</p>
            <a href="RAsignatura" class="btn btn-primary">Registrar Asignaturas</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Estudiantes</h5>
            <p class="card-text">Aquí encontraras el registro de los estudiantes.</p>
            <a href="REstudiante" class="btn btn-primary">Registrar Estudiantes</a>
        </div>
    </div>
</div>
<div class="form-row">
    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Pagos</h5>
            <p class="card-text">Aquí encontraras el registro de los pagos.</p>
            <a href="RPago" class="btn btn-primary">Registrar Pago</a>
        </div>
    </div>
</div>


@code {

}
